.button {
  display: inline-block;
  height: 39px;
  border: 1px solid $grey-color;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 12px;
  background: $grey-color;
  cursor: pointer;
  color: #fff;
  text-align: center;
  margin: 0 4px 8px 0;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 1;
  min-width: 90px;
  font-family: 'Open Sans Light';

  &:hover {
    background: #7c878c;
    border-color: #7c878c;
    color: #fff;
  }
  &:active {
    background: $grey-color;
  }
  &:last-child {
    margin-right: 0;
  }
  &.small {
    min-width: 50px;
    height: 26px;
    padding: 5px 8px;
    font-size: 14px;
  }
  &.green {
    background: #04D25A;
    border-color: #04D25A;
    color: #fff;

    &:hover {
      background: #04BE51;
      border-color: #04BE51;
    }

    &:active {
      background: #45b931;
    }
  }

  &.blue {
    background: $blue-button-color;
    border-color: $blue-button-color;
    color: #fff;

    &:hover {
      background: #0171f9;
      border-color: #0171f9;
    }

    &:active {
      background: $blue-button-color;
    }
  }

  &.red {
    background: #f14142;
    border-color: #f14142;
    color: #fff;

    &:hover {
      background: #c71c1f;
      border-color: #c71c1f;
    }

    &:active {
      background: #f14142;
    }
  }
}
