.button {
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  background: #00b587;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.button:hover {
  color: #fff;
}
