.button {
  display: inline-block;
  height: 42px;
  border: 1px solid #838f9e;
  border-radius: 6px;
  font-size: 16px;
  padding: 12px 15px;
  background: #838f9e;
  cursor: pointer;
  color: #fff;
  text-align: center;
  margin: 0 4px 8px 0;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 1;
  min-width: 100px;
  font-family: 'Open Sans Light';

  &:hover {
    background: #6b7c8f;
    border-color: #6b7c8f;
    color: #fff;
  }

  &:disabled {
    background: #e4ecf0;
    border-color: #e4ecf0;
    color: #b2a9a9;
  }

  &:active {
    background: #838f9e;
  }

  &:last-child {
    margin-right: 0;
  }

  &.rounded {
    border-radius: 21px;
  }

  &.small {
    min-width: 50px;
    height: 26px;
    padding: 5px 8px;
    font-size: 14px;
  }

  &.small.rounded {
    border-radius: 18px;
  }

  &.green {
    background: #45b931;
    border-color: #45b931;
    color: #fff;

    &:hover {
      background: #31a01a;
      border-color: #31a01a;
    }

    &:active {
      background: #45b931;
    }

    &.bordered {
      color: #45b931;
    }
  }

  &.blue {
    background: #1da9fc;
    border-color: #1da9fc;
    color: #fff;

    &:hover {
      background: #178fd8;
      border-color: #178fd8;
    }

    &:active {
      background: #1da9fc;
    }

    &.bordered {
      color: #1da9fc;
    }
  }

  &.red {
    background: #f14142;
    border-color: #f14142;
    color: #fff;

    &:hover {
      background: #c71c1f;
      border-color: #c71c1f;
    }

    &:active {
      background: #f14142;
    }

    &.bordered {
      color: #f14142;
    }
  }

  &.bordered {
    background: none;
    border-width: 2px;
    color: #838f9e;
    padding: 11px 15px;

    &:hover {
      background: none;
    }
  }
  &.bordered.small {
    padding: 4px 8px;
  }
}
