.ReactTabs__TabList {
  border: 1px solid #eee;
  background: #fff;
  margin: 15px 20px 20px;
  padding: 0 15px;
  border-radius: 6px;

  .ReactTabs__Tab {
    display: inline-block;
    margin: 10px 15px 10px 0;
    cursor: pointer;
    outline: none;
  }
  .ReactTabs__Tab--selected {
    color: #227dac;
  }
}
