.ReactTabs__TabList {
  border-bottom: 1px solid $separator-border-color;
  padding: 0 14px;

  .ReactTabs__Tab {
    display: inline-block;
    padding: 18px 6px;
    margin: 0 10px 0 0;
    cursor: pointer;
    outline: none;
  }
  .ReactTabs__Tab--selected {
    color: $link-color;
    border-bottom: 1px solid $link-color;
    margin-bottom: -1px;
  }
}
