textarea {
  display: block;
  width: 240px;
  height: 90px;
  border: 1px solid #838f9e;
  outline: none;
  background: none;
  font-family: 'Open Sans Light';
  font-size: 18px;
  padding: 8px 15px;
  color: #000;
  border-radius: 6px;
  margin: 8px 0;
  resize: none;

  &:focus {
    box-shadow: 0 0 0 1px #2babf9;
    border-color: #2babf9;
  }
  &:disabled {
    background: #e4ecf0;
    border-color: #e4ecf0;
  }
  &.success {
    border-color: #45b931;

    &:focus {
      box-shadow: 0 0 0 1px #45b931;
    }
  }
  &.error {
    border-color: #f14142;

    &:focus {
      box-shadow: 0 0 0 1px #f14142;
    }
  }
  &.fullwidth {
    width: 100%;
  }
  &.inline {
    display: inline-block;
  }
}
