.timelogs {
  padding: 20px;
}
.timelogs table {
  width: 100%;
  user-select: none;

  .time td {
    font-size: 12px;
    padding: 15px 0 5px;
  }
}
.timelogs-track {
  background: #eee;
}
.timelogs-time {
  width: 100px;
  height: 18px;
  background: pink;
  cursor: grab;
}
