.title {
  font-family: 'Open Sans Light';
  color: $title-color;
  display: table;
  width: 100%;

  h1, h2, h3 {
    display: table-cell;
    vertical-align: middle;

    span {
      display: block;
      margin: 6px 0 0;
      color: $subtitle-color;
    }
  }
  h1 {
    font-size: 24px;
    padding: 12px 0 14px;

    span {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 22px;
    padding: 20px 0;

    span {
      font-size: 16px;
    }
  }
  h3 {
    font-size: 18px;
    padding: 15px 0;

    span {
      font-size: 14px;
    }
  }
  .title-right-block {
    display: table-cell;
    vertical-align: middle;
    text-align: right;

    .button {
      margin-bottom: 0;
    }
  }
}
