.header-dropdown {
  display: none;
  position: absolute;
  left: -10px;
  top: 44px;
  background: #fff;
  width: 126px;
  padding: 8px 12px 10px;
  text-align: left;
  box-shadow: 0 3px 3px $header-shadow-color;
  border-radius: 0 0 2px 2px;

  a {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.active {
    display: block;
    z-index: 9999;
  }
}
