header {
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 16px 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
	nav {
		font-size: 14px;

		&:after {
			content: "";
			display: table;
			clear: both;
		}
		a {
			display: block;
			float: left;
			margin: 9px 16px 9px 0;
			line-height: 1;
		}
		.nav-logo {
			margin: 0 14px 0 0;

			img {
				display: block;
			}
		}
		.nav-user-avatar {
			position: relative;
			display: inline-block;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background: #eee;
			margin: 0 0 0 14px;

			a {
				margin: 0;
			}
			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				display: block;
			}
			.nav-user-submenu {
				right: -5px;
				top: 30px;
				position: absolute;
				padding: 10px 10px 3px;
				background: #000;
				display: none;
				min-width: 90px;

				a {
					display: block;
					width: 100%;
					color: #fff;
					margin: 0 0 8px;
					text-align: left;
				}
				&:after {
					border-color: transparent transparent #000;
					border-image: none;
					border-style: solid;
					border-width: 4px;
					bottom: 100%;
					content: '';
					height: 0;
					pointer-events: none;
					position: absolute;
					width: 0;
					display: block;
					right: 17px;
				}
			}
			&:hover .nav-user-submenu {
				display: block;
			}
		}
		.nav-user-inbox, .nav-user-messages {
			position: relative;
			display: inline-block;
			margin: 5px 0 0 10px;
			color: #c5cdd7;

			span {
				position: absolute;
				font-size: 8px;
				background: #45b931;
				color: #fff;
				left: 14px;
				top: 0;
				padding: 2px 3px;
				border-radius: 4px;
				display: none;
			}
			&:hover {
				color: #838f9e;
			}
			&.active {
				color: #45b931;

				span {
					display: block;
				}
			}
		}
		&.nav-left {
			float: left;
		}
		&.nav-right {
			float: right;
			text-align: right;
			margin: 0 14px 0 0;
		}
	}
}
