header {
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 16px 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
	nav {
		font-size: 14px;

		&:after {
			content: "";
			display: table;
			clear: both;
		}
		a {
			display: block;
			float: left;
			margin: 9px 16px 9px 0;
			line-height: 1;
		}
		.nav-logo {
			margin: 0 14px 0 0;

			img {
				display: block;
			}
		}
		.nav-user-avatar {
			display: inline-block;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background: #eee;
			margin: 0 0 0 14px;
			overflow: hidden;
		}
		.nav-user-inbox, .nav-user-messages {
			position: relative;
			display: inline-block;
			margin: 5px 0 0 10px;
			color: #c5cdd7;

			span {
				position: absolute;
				font-size: 8px;
				background: #45b931;
				color: #fff;
				left: 14px;
				top: 0;
				padding: 2px 3px;
				border-radius: 4px;
				display: none;
			}
			&:hover {
				color: #838f9e;
			}
			&.active {
				color: #45b931;

				span {
					display: block;
				}
			}
		}
		&.nav-left {
			float: left;
		}
		&.nav-right {
			float: right;
			text-align: right;
			margin: 0 14px 0 0;
		}
	}
}
