body {
  font-family: 'Open Sans Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: $body-color;
  color: #4a5257;
}
a {
  color: $link-color;
  text-decoration: none;

  &.blue {
    color: $link-blue-color;
  }
}
a:hover {
  color: $link-color;

  &:hover {
    color: $link-blue-hover-color;
  }
}
.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
