body {
  font-family: 'Open Sans Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: $body-color;
  color: #4a5257;
}
a {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  color: $link-hover-color;
}
.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
