$body-color: #f8f8f8;
$header-shadow-color: #dbd9d9;
$link-light-color: #747373;
$link-light-hover-color: #4c4b4b;
$link-color: #605f5f;
$link-hover-color: #252323;
$link-blue-color: #227dac;
$link-blue-hover-color: #185879;
$title-color: #2a3339;
$subtitle-color: #4c5c68;
$separator-border-color: #dbd9d9;
