$body-color: #fff;

$header-background-color: #f7f8f7;
$header-link-color: #7c7c7c;
$header-link-hover-color: #575556;
$header-active-icon-color: #53d769;

$loader-border-color: #53d769;

$separator-border-color: #dbd9d9;

$link-color: #3779f2;
$link-hover-color: #2959B1;
$link-hidden-color: #7c7c7c;
$link-hidden-hover-color: #575556;

$title-color: #252323;
$subtitle-color: #7c7c7c;
$blue-button-color: #1da9fc;
$active-tab-color: #1da9fc;
