$body-color: #f8f8f8;
$header-shadow-color: #cccdce;
$link-light-color: #747373;
$link-light-hover-color: #4c4b4b;
$link-color: #605f5f;
$link-hover-color: #252323;
$link-blue-color: #227dac;
$link-blue-hover-color: #185879;
$separator-border-color: #e9e9ea;
