.people-list-item {
  display: table;
  width: 100%;

  .avatar {
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 6px;
    padding: 2px 10px 0 0;

    img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 6px;
    }
  }
  .info {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;

    .fullname a {
      color: #000;
    }
    .user-status {
      color: #fff;
      display: inline-block;
      font-size: 12px;
      border-radius: 4px;
      padding: 2px 4px 3px;
      margin: 4px 0 0;

      &.owner {
        background: $yellow-color;
      }
      &.pending {
        background: $blue-color;
      }
    }
  }
  .actions {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
}
