.people-list-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        border-radius: 50px;
      }
      span {
        margin-left: 10px;
      }
    }
    button {
      align-self: center;
      cursor: pointer;
    }
}