@keyframes move {
  0% {left: -150px;}
  50% {left: 100%;}
  100% {left: -150px;}
}

.loader {
  position: relative;
  border-bottom: 1px solid #F4F4F4;
  &.active {
    border-bottom: 1px solid #53d769;
  }
  &.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 1px;
    background: #3E9D4E;
    animation: move 3s infinite ease;
  }
}
