@keyframes move {
  0% {left: -200px;}
  50% {left: 100%;}
  100% {left: -200px;}
}

.loader {
  position: relative;
  border-bottom: 1px solid $separator-border-color;

  &.active {
    border-bottom: 1px solid $blue-color;
  }
  &.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 1px;
    background: rgba(255, 255, 255, .5);
    animation: move 5s infinite linear;
  }
}
