.timelogs {
  width: 100%;
  user-select: none;
  margin: 10px 0;

  .timelogs-header {
    overflow: hidden;

    div {
      width: 8.33333333%;
      float: left;
      font-size: 10px;
    }
  }
}
.timelogs-track {
  background: #eee;
}
.timelogs-slider {
  height: 18px;
  background: pink;
  margin: 10px 0;
}
